<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    {{formGroup fields.distance value=source.system.distance rootId=rootId}}
    {{formGroup fields.applyToSelf value=source.system.applyToSelf rootId=rootId}}
    {{formGroup fields.disposition value=source.system.disposition localize=true rootId=rootId}}
    {{#unless isDAEEnabled}}
        {{formGroup fields.evaluatePreApply value=source.system.evaluatePreApply rootId=rootId}}
    {{/unless}}
    {{formGroup fields.collisionTypes value=source.system.collisionTypes localize=true rootId=rootId}}
    {{formGroup fields.showRadius value=source.system.showRadius rootId=rootId}}
    {{formGroup fields.color value=source.system.color rootId=rootId}}
    {{formGroup fields.opacity value=source.system.opacity rootId=rootId}}
    {{formGroup fields.script value=source.system.script rootId=rootId}}
</section>